<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)

	syntax: \{\{\< img src="rel/from/static/pic.png" mouse="My hover text" \>\}\}
-->
<figure {{ with .Get "class" }}class="{{.}}"{{ end -}}>
	{{- with .Get "link"}}<a href="{{.}}">{{ end -}}
	<img src="{{ .Get "src" }}"
	     title="Verify Certificate"
	     alt="Verify Certificate"
	>

	<figcaption>Verify Certificate</figcaption>

	{{- if .Get "link"}}</a>{{ end -}}
</figure>
